---
import BlogGrid from "@/components/BlogGrid.astro";
import Sidebar from "@/components/Sidebar.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const featuredPosts = await getCollection("posts", ({ data }) => {
  return data.featured === true;
});

const posts = await getCollection("posts", ({ data }) => {
  return data.featured !== true;
});
---

<BlogLayout
  title="Raul Salomon - Mi blog"
  description="Descubre contenido creativo, consejos y proyectos innovadores en nuestro blog"
>
  <div class="container mx-auto py-8 flex flex-col md:flex-row-reverse gap-4">
    <div class="w-full">
      <div class="mb-12">
        <div
          class:list={featuredPosts.length < 2
            ? "grid-cols-1"
            : "grid-cols-1 md:grid-cols-2"}
          class="grid gap-8"
        >
          {
            featuredPosts.map((post) => {
              const { id, data } = post;
              const { title, description, image, pubDate, tags } = data;
              return (
                <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform hover:scale-105">
                  <img
                    src={
                      image ||
                      "https://th.bing.com/th/id/OIP.ph40w_6JRRVryIOh-1wHiwHaHa?rs=1&pid=ImgDetMain"
                    }
                    alt={title}
                    transition:name={`img-${id}`}
                    width={600}
                    height={300}
                    class="w-full h-48 object-cover"
                  />
                  <div class="p-6">
                    <h3 class="text-xl font-bold mb-2">{title}</h3>
                    <p class="text-gray-600 mb-4">{description}</p>
                    <a
                      href={`/blog/${id}`}
                      class="text-indigo-600 font-semibold hover:underline"
                    >
                      Leer más
                    </a>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
      <!-- BlogGrid -->
      <BlogGrid source={posts} />
    </div>
    <!-- Sidebar -->
    <Sidebar class="mt-8 md:mt-0" />
  </div>
</BlogLayout>
