---
import Badge from "@Components/ui/Badge.astro";
import Icon from "@Components/ui/Icon.astro";

const { project } = Astro.props;

const { title, cover, description, pages, tags, lang } = project;
---

<div class="mx-auto max-w-7xl py-24 sm:px-6 lg:px-8" id="projects">
  <div
    class="relative isolate overflow-hidden px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
  >
    <svg
      viewBox="0 0 1024 1024"
      class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
      aria-hidden="true"
    >
      <circle
        cx="512"
        cy="512"
        r="512"
        fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
        fill-opacity="0.7"></circle>
      <defs>
        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
          <stop stop-color="#c74ded"></stop>
          <stop offset="1" stop-color="#4f39f6"></stop>
        </radialGradient>
      </defs>
    </svg>
    <div
      class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
    >
      <h2
        class="text-3xl font-semibold tracking-tight text-balance text-neutral-950 sm:text-4xl"
      >
        {title}
      </h2>
      <p class="mt-6 text-lg/8 text-pretty text-neutral-500">
        {description}
      </p>

      <div class="flex flex-wrap gap-2 py-5">
        {
          tags.map((tag: string) => {
            return <Badge text={tag} withIcon={true} />;
          })
        }
      </div>

      <div
        class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
      >
        <a
          href={pages.demo}
          target="_blank"
          class="flex items-center gap-2 bg-gray-900 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          ><Icon name="rocket" className="size-4" />Live demo</a
        >
        <a
          href={pages.repo}
          target="_blank"
          class="flex items-center gap-2 text-sm/6 font-semibold"
          ><Icon name="github" className="size-4" />Get started <span
            aria-hidden="true">→</span
          ></a
        >
      </div>
    </div>
    <div class="relative mt-16 h-80 lg:mt-8">
      <img
        class="absolute top-sm:0 left-0 w-[25rem] sm:w-[40rem] lg:w-[65rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10"
        src={cover}
        alt="App screenshot"
        width="1824"
        height="1080"
      />
    </div>
  </div>
</div>
